body{
    padding: 100px;
}
.submit-area{
    margin: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}
#transction-area{
    display: none;
}
.status{
    margin: 0 20px;
    padding: 20px;
    border-radius: 5px;
    color: white;
}
.deposit{
    
    background-color: slateblue;

}
.withdraw{
    background-color: lightsalmon;
    

}
.balance{
    background-color: orange;
    
}